[submodule "qtbase"]
	path = qtbase
	url = ../tqtc-qtbase.git
	alias = qt/qtbase
	branch = tqtc/lts-5.15.11
	status = essential
	repoType = replaced
[submodule "qtsvg"]
	depends = qtbase
	path = qtsvg
	url = ../tqtc-qtsvg.git
	alias = qt/qtsvg
	branch = tqtc/lts-5.15.11
	status = addon
	repoType = replaced
[submodule "qtdeclarative"]
	depends = qtbase
	recommends = qtsvg
	path = qtdeclarative
	url = ../tqtc-qtdeclarative.git
	alias = qt/qtdeclarative
	branch = tqtc/lts-5.15.11
	status = essential
	repoType = replaced
[submodule "qtactiveqt"]
	depends = qtbase
	path = qtactiveqt
	url = ../tqtc-qtactiveqt.git
	alias = qt/qtactiveqt
	branch = tqtc/lts-5.15.11
	status = addon
	repoType = replaced
[submodule "qtmultimedia"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtmultimedia
	url = ../tqtc-qtmultimedia.git
	alias = qt/qtmultimedia
	branch = tqtc/lts-5.15.11
	status = essential
	repoType = replaced
[submodule "qttools"]
	depends = qtbase
	recommends = qtdeclarative qtactiveqt
	path = qttools
	url = ../tqtc-qttools.git
	alias = qt/qttools
	branch = tqtc/lts-5.15.11
	status = essential
	repoType = replaced
[submodule "qtxmlpatterns"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtxmlpatterns
	url = ../tqtc-qtxmlpatterns.git
	alias = qt/qtxmlpatterns
	branch = tqtc/lts-5.15.11
	status = deprecated
	repoType = replaced
[submodule "qttranslations"]
	depends = qttools
	path = qttranslations
	url = ../tqtc-qttranslations.git
	alias = qt/qttranslations
	branch = tqtc/lts-5.15.11
	status = essential
	priority = 30
	repoType = replaced
[submodule "qtdoc"]
	depends = qtdeclarative qttools
	recommends = qtmultimedia qtquickcontrols qtquickcontrols2
	path = qtdoc
	url = ../tqtc-qtdoc.git
	alias = qt/qtdoc
	branch = tqtc/lts-5.15.11
	status = essential
	priority = 40
	repoType = replaced
[submodule "qtrepotools"]
	path = qtrepotools
	url = ../qtrepotools.git
	branch = master
	status = essential
	project = -
	repoType = inherited
[submodule "qtqa"]
	depends = qtbase
	path = qtqa
	url = ../qtqa.git
	branch = master
	status = essential
	priority = 50
	repoType = inherited
[submodule "qtlocation"]
	depends = qtbase
	recommends = qtdeclarative qtquickcontrols qtquickcontrols2 qtserialport
	path = qtlocation
	url = ../tqtc-qtlocation.git
	alias = qt/qtlocation
	branch = tqtc/lts-5.15.11
	status = addon
	repoType = replaced
[submodule "qtsensors"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtsensors
	url = ../tqtc-qtsensors.git
	alias = qt/qtsensors
	branch = tqtc/lts-5.15.11
	status = addon
	repoType = replaced
[submodule "qtimageformats"]
	depends = qtbase
	path = qtimageformats
	url = ../tqtc-qtimageformats.git
	alias = qt/qtimageformats
	branch = tqtc/lts-5.15.11
	status = addon
	repoType = replaced
[submodule "qtgraphicaleffects"]
	depends = qtdeclarative
	path = qtgraphicaleffects
	url = ../tqtc-qtgraphicaleffects.git
	alias = qt/qtgraphicaleffects
	branch = tqtc/lts-5.15.11
	status = essential
	repoType = replaced
[submodule "qtquickcontrols"]
	depends = qtdeclarative
	recommends = qtgraphicaleffects
	path = qtquickcontrols
	url = ../tqtc-qtquickcontrols.git
	alias = qt/qtquickcontrols
	branch = tqtc/lts-5.15.11
	status = addon
	repoType = replaced
[submodule "qtserialport"]
	depends = qtbase
	path = qtserialport
	url = ../tqtc-qtserialport.git
	alias = qt/qtserialport
	branch = tqtc/lts-5.15.11
	status = addon
	repoType = replaced
[submodule "qtmacextras"]
	depends = qtbase
	path = qtmacextras
	url = ../tqtc-qtmacextras.git
	alias = qt/qtmacextras
	branch = tqtc/lts-5.15.11
	status = addon
	repoType = replaced
[submodule "qtwinextras"]
	depends = qtbase
	recommends = qtdeclarative qtmultimedia
	path = qtwinextras
	url = ../tqtc-qtwinextras.git
	alias = qt/qtwinextras
	branch = tqtc/lts-5.15.11
	status = addon
	repoType = replaced
[submodule "qtandroidextras"]
	depends = qtbase
	path = qtandroidextras
	url = ../tqtc-qtandroidextras.git
	alias = qt/qtandroidextras
	branch = tqtc/lts-5.15.11
	status = addon
	repoType = replaced
[submodule "qtwebsockets"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtwebsockets
	url = ../tqtc-qtwebsockets.git
	alias = qt/qtwebsockets
	branch = tqtc/lts-5.15.11
	status = addon
	repoType = replaced
[submodule "qtwebchannel"]
	depends = qtbase
	recommends = qtdeclarative qtwebsockets
	path = qtwebchannel
	url = ../tqtc-qtwebchannel.git
	alias = qt/qtwebchannel
	branch = tqtc/lts-5.15.11
	status = addon
	repoType = replaced
[submodule "qtwebengine"]
	depends = qtdeclarative
	recommends = qtquickcontrols qtquickcontrols2 qtlocation qtwebchannel qttools
	path = qtwebengine
	url = ../qtwebengine.git
	branch = 5.15.11
	status = addon
	priority = 10
	repoType = replaced
[submodule "qtwebview"]
	depends = qtdeclarative
	recommends = qtwebengine
	path = qtwebview
	url = ../tqtc-qtwebview.git
	alias = qt/qtwebview
	branch = tqtc/lts-5.15.11
	status = addon
	repoType = replaced
[submodule "qtquickcontrols2"]
	depends = qtgraphicaleffects
	recommends = qtimageformats
	path = qtquickcontrols2
	url = ../tqtc-qtquickcontrols2.git
	alias = qt/qtquickcontrols2
	branch = tqtc/lts-5.15.11
	status = essential
	repoType = replaced
[submodule "qtvirtualkeyboard"]
	depends = qtbase qtdeclarative qtsvg
	recommends = qtmultimedia qtquickcontrols
	path = qtvirtualkeyboard
	url = ../tqtc-qtvirtualkeyboard.git
	alias = qt/qtvirtualkeyboard
	branch = tqtc/lts-5.15.11
	status = addon
	repoType = replaced
